version: '2'
services:

  elasticsearch:
    image: elasticsearch:7.8.1
    networks:
      - appnet
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      discovery.type: single-node

  php:
    build:
      context: ./php
      args:
        - COMPOSER_MAGENTO_USERNAME=${COMPOSER_MAGENTO_USERNAME}
        - COMPOSER_MAGENTO_PASSWORD=${COMPOSER_MAGENTO_PASSWORD}
        - MYSQL_DATABASE=${MYSQL_DATABASE}
        - MYSQL_USER=${MYSQL_USER}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        - AUTO_INSTALL=${AUTO_INSTALL}
    ports:
      - 9000:9000
    networks:
      - appnet
    volumes:
      - ./html:/var/www/html
      - ./logs:/var/log/nginx

  web:
    build: nginx
    container_name: web222
    ports:
      - 8080:8080
    networks:
      - appnet
    links:
      - php
    volumes:
      - ./html:/var/www/html

  db:
    image: mariadb:10.2
    ports:
      - 3306
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./db/sql:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - TERM=meh
    networks:
        - appnet

  varnish:
    build: varnish
    ports:
      - 80:80
    volumes:
      - ./varnish/etc:/etc/varnish
    links:
      - web
    depends_on:
      - web
    networks:
      - appnet

networks:
  appnet:
    driver: "bridge"